<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

    <head>
        <title>Zillow API Demo | Carey Development Demos</title>
        <meta content="Zillow API Demo" name="description" />
        <object th:include="/fragments/head :: head" th:remove="tag"></object>
    </head>

    <body class="page-container-bg-solid">
		<div th:include="fragments/topmenuheader :: header"></div>
        <div class="page-container">
            <div class="page-content-wrapper">
                <div class="page-head" style="background-color:#eff3f8;padding-top:40px">
                    <div class="container">
                    	<div class="row">
                             <div class="col-md-6 ">
                                 <div class="portlet box blue ">
                                     <div class="portlet-title">
                                         <div class="caption">
                                             <i class="icon-home"></i>
                                             <span class="caption-subject" style="position:relative;top:2px">Enter Home Address</span>
                                         </div>
                                     </div>    
                                     <div class="portlet-body form">
         								<form id="employeeForm" th:action="@{/enterAddress}" th:object="${address}" method="POST">                                                            
         									<div class="form-body">
         										 <div>
                                                 	<div class="mt-element-ribbon bg-grey-steel">
                                                    	<div class="ribbon ribbon-color-success uppercase">U.S. Address Only</div>
                                                       	<p class="ribbon-content">Please enter the address of a home in the United States.<br/>
                                                       	Click the "Find Valuation" button at the bottom to see Zillow's current 
                                                       	estimate of what the property is worth.</p>
                                                    </div>
                                                 </div>
                                                 
                                                 <div class="form-group" th:classappend="${#fields.hasErrors('streetAddress')} ? has-error : ''">
                                                     <label>Street Address</label>                                                                
                                                     <div th:classappend="${#fields.hasErrors('streetAddress')} ? 'input-icon right' : ''">
                                                        <i th:if="${#fields.hasErrors('streetAddress')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid street address" data-container="body"></i>
                                                     	<input type="text" class="form-control" maxlength="64" th:value="*{streetAddress}" th:field="*{streetAddress}" placeholder="For example: 123 Main Street"/>
                                                     	<span th:if="${#fields.hasErrors('streetAddress')}" class="help-block" th:errors="*{streetAddress}"></span>
                                                     </div>
                                                 </div>                                                                                              
                                                 
                                                 <div class="form-group" th:classappend="${#fields.hasErrors('zip')} ? has-error : ''">
                                                     <label>U.S. Zip Code</label>                                                                
                                                     <div th:classappend="${#fields.hasErrors('zip')} ? 'input-icon right' : ''">
                                                        <i th:if="${#fields.hasErrors('zip')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid zip code" data-container="body"></i>
                                                     	<input type="text" class="form-control" maxlength="10" th:value="*{zip}" th:field="*{zip}" placeholder="For example: 90210"/>
                                                     	<span th:if="${#fields.hasErrors('zip')}" class="help-block" th:errors="*{zip}"></span>
                                                     </div>
                                                 </div>                                                 
                                             </div>
                                             <div class="form-actions">
                                                 <button type="submit" class="btn blue">Find Valuation</button>
                                             </div>
                                         </form>
                                     </div>
                                 </div>
     						</div>
     					</div>
                    </div>
                </div>
            </div>
        </div>
        <div th:include="fragments/homefooter :: footer"></div>
    </body>
</html>